* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

html,
body,
main {
    width: 100vw;
    height: 100vh;
}

/*Задний фон*/
.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


main {
    position: relative;
}

.container {
    position: absolute;
}

main .container .open {
    border-radius: 50%;
    height: 41px;
    width: 41px;
    opacity: 70%; 
    border: none;
}

/*Вылезающиая надпись с начало скрыта*/
.inscription {
    display: none;
}

/*после добавление signatureActive надпись появляется*/
.inscriptionActive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;

    position: absolute;
    top: 0px;

    border-radius: 40px;

    max-height: 38px;
    min-width: 41px;

    padding: 11px 15px 11px 15px;
}

main .container .open,
main .container .signature {
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.colorBlue {
    background: #3877EE;
}

.colorGreen {
    background: #6ABF4B;
}

/*Расположение кнопок на карте*/
/*При высоте экрана в 1080px и ширине экрана от 1920px до 1280px кнопки отображаются в пределах построек*/
.bridge {
    top: 66.1%;
    left: 23.229%;
}

.stadium {
    top: 44.629%;
    left: 35.78%;
}

.coliseum {
    top: 37.4%;
    left: 59.79%;
}

.office {
    top: 26.1%;
    left: 30.2%;
}

.house {
    top: 20.8%;
    left: 71.5%;
}

.column {
    top: 58.24%;
    left: 56.3%;
}

.embankment {
    top: 73.14%;
    left: 57.65%;
}

.part_a {
    top: 61.94%;
    left: 68.02%;
}

.part_b {
    top: 66.018%;
    left: 82.968%;
}

.hotel {
    top: 43.98%;
    left: 73.64%;
}